* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Design the Header section */
header {
  width: 100%;
  height: 100vh;
}

.header-banner {
  height: 100%;
  width: 100%;
  background-image: url("./images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-btn {
  border: none;
  color: white;
  padding: 21px 25px 20px 26px;
  background: #f15b22;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}

.banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding-top: 280px;
  padding-right: 230px;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #151414;
  width: 525px;
  height: 228px;
  margin-bottom: 24px;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #444343;
  width: 494px;
  height: 78px;
  margin-bottom: 32px;
}

/* Design the information part */
.information-section {
  width: 100%;
  height: 100vh;
}

.details-informtaion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.information {
  width: 420px;
  height: 400px;
  margin-left: 87px;
  margin-top: 170px;
  padding: 5px;
}

.info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.info-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-top: 24px;
  margin-bottom: 16px;
}

.information ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

.information ul li span {
  color: green;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
